.features .glyphicon {
	font-size: 32px;
}
footer {
	background-color:#333;	
	color:#F9F9F9;
	padding:20px;
	width:100%;
	position: absolute;
    left: 0;
    right: 0;
}
footer a {
	color: #6dcedb;
}
.cosmos_image {
	height:100px;
	width:auto;
}